@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-200;
    font-family: 'Fuzzy Bubbles', cursive;
}

:root {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

:root::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}